bin
build
.idea
*.iml
.gradle

d-to-kotlin/.dub
d-to-kotlin/docs.json
d-to-kotlin/dummy.html
d-to-kotlin/docs/
d-to-kotlin/d-to-kotlin
d-to-kotlin/d-to-kotlin-test-*
*.exe
*.o
*.obj
*.lst
*.orig
*.rej
